


<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap" rel="stylesheet">
</head>

<body style="
        font-family: 'Boogaloo', cursive;
        font-size: 1.5rem;
    ">
    <style>
        body {
            background-image: url('https://www.pngkey.com/png/full/7-71349_snapchat-transparent-border-snapchat-border-png.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <div class="text-center">
        <h1 class="display-4">Coffee Shop</h1>
        <p></p>
        <p></p>

        <h3>
            Start earning reward points today!
        </h3>
        <p></p>
        <p></p>
        <p></p>

        <p>
            By joining today we will keep track of your spending to
            earn points for exclusive offers.
        </p>
        <p>
            If you are a coffee or tea lover then you will want to take
            advantage of this opportunity.
        </p>
        <h4>
            <a asp-action="RegistrationForm" asp-controller="Home"><p>Visit the Registration Page</p></a>
        </h4>
        <p>
            To make the deal sweeter, when you sign up today we will give you a
            <strong>10% off coupon</strong>, sent immediately to your email.
        <p></p>
        <p></p>

        </p>

    </div>

</body>




