@{
    ViewData["Title"] = "Privacy Policy";
}



<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap" rel="stylesheet">

</head>

<body style="
        font-family: 'Boogaloo', cursive;
        font-size: 1.5rem;
    ">
    <style>
        body {
            background-image: url('https://images.squarespace-cdn.com/content/v1/5e8ca4dd92f5071d816ac68f/1586531999482-01SNHO9LTMHNKP9OIM8J/FFSCirclesFilter-04.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <div style="text-align:center">

        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's privacy policy.</p>
        <p> And to let you know that this is a class project.</p>
    </div>

</body>




