@model User

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap" rel="stylesheet">

</head>

<body style="
        font-family: 'Boogaloo', cursive;
        font-size: 1.5rem;
    ">
    <style>
        body {
            background-image: url('https://images.squarespace-cdn.com/content/v1/5e8ca4dd92f5071d816ac68f/1586531999482-01SNHO9LTMHNKP9OIM8J/FFSCirclesFilter-04.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    <div style="text-align:center">
        <h2>Welcome @Model.FirstName @Model.LastName</h2>

        <p>
            <h3>
                Thank you for registering!
            </h3>
            <h3>
                We will try not to spam your email with imaginary offers,<br> but enjoy your coffee reward points!
            </h3>


        </p>


    </div>

</body>

